.cloud {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9; /* Start with high opacity */
  z-index: 10000;
  animation: float 60s ease-in-out infinite;
}
.cloud-left {
  left: 0;
  top: 0;
  width: 200%;
  height: 100%;
}
.cloud-right {
  right: 0;
  top: 0;
  width: 200%;
  height: 100%;
}
.cloud-left1 {
  bottom: 0;
  left: 0;
  width: 150%;
  height: 150%;
}
.cloud-right1 {
  bottom: 0;
  right: 0;
  width: 150%;
  height: 150%;
}
@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
}}
@keyframes reveal-left {
  0% {
      transform: translateX(0);
      opacity: 0.9;
  }
  40% {
    transform: translateX(-500%); /* Move slightly */
    opacity: 0.9;
}
60% {
  transform: translateX(-1000%); /* Move further */
  opacity: 0.7; /* Start fading */
}
80% {
  transform: translateX(-1400%); /* Nearly off-screen */
  opacity: 0.3; /* Increase fading */
}
100% {
  transform: translateX(-1800%); /* Fully off-screen */
  opacity: 0; /* Fully transparent */
}
  }
  
  @keyframes reveal-right {
    0% {
      transform: translateX(0); 
      opacity: 0.9;
    }
    40% {
        transform: translateX(500%); /* Move slightly */
        opacity: 0.9;
    }
    60% {
      transform: translateX(1000%); /* Move further */
      opacity: 0.7; /* Start fading */
  }
  80% {
    transform: translateX(1400%); /* Nearly off-screen */
    opacity: 0.3; /* Increase fading */
}100% {
  transform: translateX(1800%); /* Fully off-screen */
  opacity: 0; /* Fully transparent */
}
}
.reveal-left {
  animation: reveal-left 25s forwards ease-in-out; /* Extended duration */
}
.reveal-right {
  animation: reveal-right 25s forwards ease-in-out;
}