/* Default: Gallery on the left */
.gallery-panel {
  position: fixed;
  top: 6%;
  left: 0; /* Default: left side */
  z-index: 1300;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 0 10px 10px 0;
  width: 15%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

/* Move gallery to the right for Navigate Page */
.gallery-panel.right {
  left: auto; /* Reset left */
  right: 0; /* Move to right */
  border-radius: 10px 0 0 10px; /* Rounded edges on the left */
}

.gallery-panel::-webkit-scrollbar {
  width: 0; /* Hides the scrollbar in WebKit browsers */
}

.gallery-panel {
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}
.gallery-image img {
  width: 100%; /* Fit within the panel's width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the available space */
  border-radius: 5px; /* Add rounded edges */
  cursor: pointer; /* Indicate interactivity */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover effects */
}

.gallery-image img:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3); /* Highlight effect */
}
.close-gallery {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  z-index: 1000;
}
/* Gallery container */
.vertical-slider {
  position: relative; /* Ensure this is the reference point for absolute positioning */
  height: 100%; /* Ensure it has height for positioning the arrows */
}

/* Down arrow (below the slider) */
.down-arrow {
  bottom: -30px; /* Position below the slider */
  font-size: 18px;
  background: rgba(0, 0, 0, 0);
  color: white;
  border-style: none;
  border-radius: 5px 5px 5px 5px;
}

/* Optional: For the main slider, hide default arrows */
.slick-prev,
.slick-next {
  display: none; /* Hide the default arrows */
}

.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1500;
}
.fullscreen-slider-container {
  width: 90%;
  height: 90%;
}
.fullscreen-slide img {
  max-width: 60%;
  max-height: 40%;
  object-fit: contain;
  margin: auto;
}
.close-fullscreen {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Arrow styles for slider */
.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  color: white; /* Visible arrows in fullscreen */
}
.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.fullscreen-slider .slick-prev,
.fullscreen-slider .slick-next {
  display: block !important; /* Ensure arrows are visible in fullscreen mode */
}
