.gallery-panel {
    position: absolute;
    bottom:100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200; /* Above control panel */
    background: rgba(0, 0,0, 0.5);
    padding: 15px 15px 10px 15px;
    border-radius: 10px;
    width: 50%; /* Adjust for size */
    max-height: 200px;
  }
  
  .gallery-image img {
    width: 95%;
    height: auto;
    object-fit: cover;
  }
  
  .close-gallery {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  
  .slick-prev:before, .slick-next:before {
    color: white;
  }
  