/* Gallery panel */
.gallery-panel {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 15px 10px 15px;
  border-radius: 10px;
  width: 50%;
  max-height: 200px;
}

.gallery-image img {
  width: 95%;
  height: auto;
  object-fit: cover;
  cursor: pointer; /* Indicate clickable images */
}

.close-gallery {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
}

.fullscreen-slider-container {
  width: 90%;
  height: 90%;
}

.fullscreen-slide img {
  max-width: 60%;
  max-height: 40%;
  object-fit: contain;
  margin: auto;
}

.close-fullscreen {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Arrow styles for slider */
.slick-prev:before,
.slick-next:before {
  color: white; /* Visible arrows in fullscreen */
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
