.hotspot {
  position: absolute;
  transform: translate(-50%, -100%);
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.hotspot img {
  width: 30px;
  height: 30px;
  z-index: 1100;
  filter: invert(37%) sepia(97%) saturate(7300%) hue-rotate(0deg)
    brightness(100%) contrast(102%);
  transform: 1;
}
.hotspot:hover img {
  transform: scale(1.3); /* Increases the size by 30% */
  filter: invert(40%) sepia(90%) saturate(7000%) hue-rotate(0deg)
    brightness(120%) contrast(110%); /* Optional: brighten/redder on hover */
}
