.map-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.leaflet-map {
  height: 100%;
  width: 100%;
}

.navigation-search-container {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 320px;
}

