.viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#viewer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent overflow */
}

.photosphere-overlay {
  z-index: 10; /* Ensure overlay elements are on top */
}

.hotspot-marker {
  /* Example styling for your markers */
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.hotspot-marker,
.arrow-marker {
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.arrow-marker {
  color: yellow;
  font-size: 18px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.a-enter-vr,
.a-vr-mode-ui {
  display: none !important;
}
.control-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 10px;
  z-index: 200;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.control-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.control-button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.bottom-panel {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-radius: 10px;
  z-index: 200;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.bottom-panel button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.bottom-panel button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.bottom-panel button i {
  font-size: 24px; /* Adjust size of icons */
}
